body{
  font-family:sans-serif;
    color:#3f3827;

}
.container_12 {
margin-top: 0px;
}

header{
  overflow:hidden;
  background:#3f2a2b;
  position:fixed;
  width:100%;
}
.logo img{
  float:left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo nav{
float:right;
}


.logo nav ul {
padding-top: 40px;
padding-right: 40px;
}

nav li{
  display:inline;
  line-height: 22px;
  font-size: 13px;
  letter-spacing: 0px;
}
nav li a{
  text-transform: uppercase;
  color:#e3e3e3;
  text-decoration:none;
}

ul a:hover{
  text-decoration: underline;
  color:#e3e3e3;
  font-size: 20px;
}
.main{
  margin-top: 0px;
}
h2{
  font-family:cursive;
  margin-top: 10px;
text-align: center;
  color:#3f3827;
}

.banner{
  margin-top: 20px;
}


.content{
  margin-top: 140px;
}
.sec {
  background:#e2dfdd;
  margin-top: 50px;
}
.sec2{
    background:  #747474;}


.footer{
  padding-top: 40px;
}
.sec2 li{
  display:inline;
}
.social_icons{
  float:right;
  padding-top: 5px;
  padding-right:10px;
}
.social_icons a{
    color:currentColor;
}

.social_icons a:hover{
  font-size: 20px;
    color:currentColor;
}
.last{
  float:left;
}
footer h6{
  text-transform:uppercase;
}
