.wrap{
  width: 80%;
  margin: auto;
  min-width:600px;
  background-color: pink;
  overflow:hidden;

}
.content{
  background-color: #e3e3e3;
  float :left;
  width: 70%;

}
aside{
  background-color: brown;
  float: left;
  width: 30%;
  min-width: 20%;
}
.content,aside{
  height: 500px;
}
aside ul{
  padding-left: 20px;
}
li{
  display:inline;
  padding-right: 10px;
    font-family: sans-serif;
}
ul a{
    text-decoration: none;
    color: black;
}
ul a:hover{
  text-decoration: underline;
  color: orange;
  font-size: 20px;
}
h2{
  font-size: 100px;
  text-align:center;
  margin-top: 50px;
  font-family: cursive;
  letter-spacing: -5px;
  color: #666;
  text-transform: lowercase;
  text-shadow: 3px 5px 10px white;
  font-variant: small-caps;
}
h,h3,h4{
font-size: 50px;

margin-top: 30px;
font-family: cursive;
letter-spacing: -2px;
color: violet;
text-transform: lowercase;
text-shadow: 3px 2px 1px white;
font-variant: small-caps;

}
